@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Medium.woff2") format("woff2"),
      url("../fonts/Poppins-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Bold.woff2") format("woff2"),
      url("../fonts/Poppins-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.woff2") format("woff2"),
      url("../fonts/Poppins-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  } 
  html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
  }
  body {
    margin: 0;
    background-color:rgba(0, 0, 0, 0.664) }
  main {
    display: block;
  }
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
  }
  pre {
    font-family: monospace, monospace;
    font-size: 1em;
  }
  a {
    background-color: rgba(0, 0, 0, 0);
  }
  abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
  }
  b,
  strong {
    font-weight: bolder;
  }
  code,
  kbd,
  samp {
    font-family: monospace, monospace;
    font-size: 1em;
  }
  small {
    font-size: 80%;
  }
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  sub {
    bottom: -0.25em;
  }
  sup {
    top: -0.5em;
  }
  img {
    border-style: none;
  }
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
  }
  button,
  input {
    overflow: visible;
  }
  button,
  select {
    text-transform: none;
  }
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
  }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }
  legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
  }
  progress {
    vertical-align: baseline;
  }
  textarea {
    overflow: auto;
  }
  [type="checkbox"],
  [type="radio"] {
    box-sizing: border-box;
    padding: 0;
  }
  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }
  [type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
  }
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
  }
  details {
    display: block;
  }
  summary {
    display: list-item;
  }
  template {
    display: none;
  }
  [hidden] {
    display: none;
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  html {
    height: 100%;
    scroll-behavior: smooth;
  }
  body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: "Poppins", sans-serif;
  }
  main {
    flex-grow: 1;
  }
  img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .visually-hidden {
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  .container {
    width: 100%;
    max-width: 1355px;
    margin: 0 auto;
    padding: 0 20px;
  }
  ul {
    list-style: none;
  }
  .header {
    margin-bottom: 30px;
  }
  .top_list {
    display: flex;
    justify-items: end;
  }
  .header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .usd {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #22262a;
  }
  .top__profile {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #262626;
  }
  .language {
    display: flex;
    gap: 10px;
  }
  .top__item {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #262626;
  }
  .korzinka {
    position: relative;
  }
  .top__icon {
    position: absolute;
    top: -5px;
    right: -7px;
    width: 18px;
    height: 18px;
    padding: 3px 0;
    background-color: red;
    border-radius: 50%;
    font-weight: 700;
    font-size: 10px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.5px;
    color: #fff;
  }
  .top_list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .header__low {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .low__list {
    display: flex;
    gap: 40px;
  }
  .text__item {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: white;
  }
  .hero__static {
    display: block;
    width: 100%;
    height: 600px;
    background: linear-gradient(180deg, #000000 -73.06%, rgba(0, 0, 0, 0) 100%),
      url(../../img/herostaticimg.png);
    background-repeat: no-repeat;
    border-radius: 5px;
    margin-bottom: 220px;
    padding-right: 40px;
  }
  .hero__static-title {
    font-weight: 700;
    font-size: 64px;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: #fff;
    padding-top: 230px;
  }
  .hero {
    position: relative;
  }
  .hero__discount {
    display: flex;
    gap: 5px;
    align-items: center;
  }
  .dell {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: #9098b1;
    width: 73px;
    height: 27px;
    position: absolute;
    top: 78%;
    right: 62%;
  }
  .off {
    width: 75.54px;
    height: 27px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: #fb7181;
    flex: none;
    order: 1;
    flex-grow: 0;
    position: absolute;
    top: 68%;
    right: 37%;
  }
  .hero__list {
    position: absolute;
    top: 85%;
    gap: 30px;
    display: flex;
  }
  .hero__item {
    position: relative;
    width: 334px;
  }
  .static {
    padding: 0 100px;
  }
  .hero__text {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: #223263;
    z-index: 3;
    position: absolute;
  }
  .hero__sum {
    font-weight: 700;
    font-size: 30px;
    line-height: 180%;
    letter-spacing: 0.5px;
    color: #40bfff;
    z-index: 3;
    margin-left: auto;
    position: absolute;
    top: 67%;
  }
  .product__wrapper h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 52px;
    text-align: center;
    color: #22262a;
  }
  .product__wrapper .product__list {
    list-style-type: none;
    max-width: 727px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto 23px;
  }
  .product__wrapper .product__list li {
    border-bottom: 2px solid #fff;
    transition: 0.3s;
  }
  .product__wrapper .product__list li button {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    color: #262626;
    margin: 0;
    background: none;
    border: none;
    cursor: pointer;
  }
  .product__wrapper .product__list li:hover {
    border-bottom: 2px solid #33a0ff;
  }
  .product__wrapper .product__list li:hover button {
    color: #33a0ff;
  }
  .product__searchBox {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  .product__search {
    width: 100%;
    max-width: 508px;
    padding: 22px 20px 18px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #262626;
    opacity: 0.35;
    border: 2px solid #bcddfe;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .product__btn {
    width: 100%;
    max-width: 127px;
    padding: 17px 27px;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    background: #40bfff;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .product {
    margin-bottom: 116px;
  }
  .product__box {
    text-align: center;
  }
  .product__title {
    margin: 0 0 26px;
    font-weight: 600;
    font-size: 35px;
    line-height: 52px;
    color: #22262a;
  }
  .product__cards {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
  }
  .product__cards-item {
    position: relative;
    width: 100%;
    max-width: 298px;
    border: 3px solid #f6f7f8;
  }
  .product__img {
    width: 100%;
    height: 272px;
  }
  .product__hover {
    position: absolute;
    top: 28px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 278px;
    height: 219px;
    background-color: #fff;
    opacity: 0;
    transition: all 0.4s ease;
  }
  .product__circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    border: 2px solid rgba(31, 45, 54, 0.25);
    border-radius: 50%;
  }
  .product__like,
  .product__basket {
    display: block;
    width: 34px;
    height: 34px;
    cursor: pointer;
  }
  .check {
    display: none;
  }
  .product__cards-item:hover > .product__hover {
    opacity: 0.95;
  }
  .product__content {
    padding: 15px 0 11px;
  }
  .product__text {
    margin: 0 0 6px;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: #223263;
  }
  .product__star {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 6px;
  }
  .product__star p {
    margin: 0;
  }
  .product__star .checked {
    color: orange;
  }
  .product__price {
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    line-height: 180%;
    letter-spacing: 0.5px;
    color: #40bfff;
  }
  .product__price-del {
    display: inline-block;
    margin: 0 8px 0 13px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.5px;
    -webkit-text-decoration-line: line-through;
    text-decoration-line: line-through;
    color: #9098b1;
  }
  .product__percentage {
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: #fb7181;
  }
  .static__desc {
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 70px;
    gap: 300px;
  }
  .staticimg {
    width: 75px;
    text-align: center;
  }
  .static-desc__text {
    font-weight: 500;
    font-size: 25px;
    line-height: 40px;
    color: #22262a;
  }
  .korzinka {
    margin-bottom: 100px;
  }
  .korzinka__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .korzinka__heading h3 {
    font-weight: 500;
  }
  .korzinka__heading div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
  }
  .korzinka__inner {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-bottom: 90px;
  }
  .item {
    display: flex;
    align-items: center;
    padding: 53px 0;
    border-bottom: 3px solid #f6f7f8;
  }
  .button {
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 50%;
    background-color: #faf2f3;
    color: #ea3d4b;
    cursor: pointer;
  }
  .image {
    width: 138px;
    height: 94px;
    margin-right: 28px;
    margin-left: 47px;
    border-radius: 7px;
  }
  .title {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #262626;
  }
  .price {
    margin: 0 60px 0 auto;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #262626;
  }
  .numberDiv {
    width: 100%;
    max-width: 125px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 60px;
    padding: 13px 18px;
    background-color: #f6f7f8;
    border-radius: 10px;
  }
  .minus,
  .plus {
    color: #33a0ff;
    cursor: pointer;
  }
  .number {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #262626;
  }
  .priceTwo {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #262626;
  }
  .total__box {
    width: 100%;
    max-width: 374px;
    margin-left: auto;
  }
  .total__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
  }
  .total__title {
    margin: 0;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    color: #22262a;
  }
  .total__number {
    margin: 0;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    color: #22262a;
  }
  .check__btn {
    width: 100%;
    padding: 16px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #fff;
    border: none;
    border-radius: 10px;
    background-color: #33a0ff;
    cursor: pointer;
  }
  .footer {
    padding: 20px 0;
    background: #bcddfe;
  }
  .footer__ecomm {
    display: flex;
    align-items: center;
    width: 221px;
  }
  .footer__iconimg {
    width: 39px;
    height: 39px;
    margin-right: 7px;
  }
  .footer__desk {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #22262a;
  }
  .footer__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #22262a;
    width: 221px;
  }
  .cont__footer {
    display: flex;
    gap: 250px;
  }
  .footer__span {
    background: #f6f7f8;
    width: 1145px;
    display: block;
    height: 1px;
    margin-bottom: 20px;
  }
  .unicons__blog {
    gap: 10px;
    margin-left: 940px;
  }
  .uniconimg {
    height: 38px;
    height: 25px;
  }
